@import url("./normalize.css");

// === MIXIN ===
@mixin text-base {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
// === / MIXIN ===

// === VARIABLES ===
$second-color: #428a60;
$second-color-dark: #35734f;
$bg-color: #f4f4f4;
$bg-color-light: #f8f8f8;
$text-color: #212121;
$text-color-input: #cdcdcd;
$border-color: #e4e4e4;
$base-white: #ffffff;

$breakpoint-ex-sm-max: 360px;
$breakpoint-sm-max: 576px;
$breakpoint-md-max: 868px;
$breakpoint-lg-max: 1020px;
$breakpoint-xl-max: 1200px;
$breakpoint-xxl-max: 1400px;
// === / VARIABLES ===

// === COMMON ===

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: $bg-color;
  padding-top: 75px;
  padding-bottom: 75px;

  @media (max-width: $breakpoint-sm-max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.second-color {
  color: $second-color;
}

.mb-hidden {
  @media (max-width: $breakpoint-ex-sm-max) {
    display: none;
  }
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  border-radius: 3px;
  transition: 0.2s;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
  border: none;

  &__submit {
    width: 100%;
    background-color: $second-color;
    border-radius: 5px;
    @include text-base();
    color: $base-white;
    padding-top: 12px;
    padding-bottom: 12px;

    &:hover {
      background-color: $second-color-dark;
    }

    &:active {
      background-color: $second-color-dark / 2;
    }

    &--arrow {
      width: 18px;
      height: 13px;
      margin-left: 10px;
      background-image: url("../img/arrow-form.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.form-wrap {
  display: flex;
  min-width: 320px;

  @media (max-width: $breakpoint-lg-max) {
    flex-direction: column;
    align-items: center;
  }
}

.product {
  width: 50%;
  position: relative;
  background: linear-gradient(
    180deg,
    $second-color 0%,
    $second-color-dark 100%
  );
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  z-index: 0;
  box-sizing: border-box;
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 31px;
  padding-left: 5%;
  padding-right: 3%;
  border-radius: 1px;
  perspective: 1000px;
  // transform-style: preserve-3d;

  @media (max-width: $breakpoint-lg-max) {
    width: 100%;
    padding-left: 22%;
    padding-right: 15%;
  }

  @media (max-width: $breakpoint-md-max) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (max-width: $breakpoint-sm-max) {
    background: $base-white;
    min-height: 300px;
    padding-left: 18%;
    padding-right: 13%;
  }

  @media (max-width: $breakpoint-ex-sm-max) {
    padding-bottom: 18%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/ellipse-form.svg) top 70% left 12% no-repeat;
    z-index: -1;

    @media (max-width: $breakpoint-sm-max) {
      background-size: contain;
      margin: auto;
      top: 44px;
      left: 0;
      bottom: 0;
      right: 0;
      width: 63%;
      height: 67%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/ellipse2-form.svg) top 50% left -184% no-repeat;
    z-index: -2;

    @media (max-width: $breakpoint-sm-max) {
      display: none;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
  }

  &__text {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $base-white;

    @media (max-width: $breakpoint-sm-max) {
      color: $text-color;
    }

    &--name {
      top: 41px;
      left: 40px;

      @media (max-width: $breakpoint-sm-max) {
        left: 20px;
      }
    }

    &--status {
      bottom: 34px;
      left: 40px;

      @media (max-width: $breakpoint-sm-max) {
        top: 41px;
        right: 20px;
        left: auto;
        bottom: auto;
      }
    }
  }
}

.form {
  width: 50%;
  background-color: $base-white;
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  z-index: 1;

  @media (max-width: $breakpoint-lg-max) {
    width: 100%;
  }

  &__heading-wrap {
    background: $bg-color-light;
    border-top-right-radius: 30px;
    padding-top: 30px;
    padding-bottom: 28px;

    @media (max-width: $breakpoint-sm-max) {
      background: $base-white;
      padding-top: 12px;
      border-radius: 0;
    }
  }

  &__heading {
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: $text-color;
    margin: 0;
  }
}

.ad-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 325px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 52px;
  padding-right: 5px;

  @media (max-width: $breakpoint-sm-max) {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
  }

  &__element {
    flex-basis: 100%;
    max-width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    &--tel {
      flex-basis: 58%;
      max-width: 58%;
      margin-right: 17px;

      @media (max-width: $breakpoint-sm-max) {
        flex-basis: 65%;
        max-width: 62%;
        margin-right: 9px;
      }
    }

    &--country {
      flex-basis: 36%;
      max-width: 36%;
      margin-top: 26px;

      @media (max-width: $breakpoint-sm-max) {
        flex-basis: 34%;
        max-width: 34%;
      }
    }

    &--submit {
      margin-top: 18px;

      @media (max-width: $breakpoint-sm-max) {
        margin-top: 7px;
      }
    }
  }

  &__label {
    display: block;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 10px;

    &--country {
      visibility: hidden;
    }
  }

  &__input {
    background-color: $bg-color-light;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    @include text-base();
    position: relative;

    &::placeholder {
      color: $text-color-input;
    }

    @media (max-width: $breakpoint-sm-max) {
      padding-left: 10px;
    }

    &--name {
      color: $text-color-input;
    }

    &--tel {
      color: $text-color-input;
    }

    &--country {
      text-transform: uppercase;
      display: flex;
      align-content: center;
      align-items: center;
    }

    &:hover {
      border-color: $second-color;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px 2px $second-color;
      box-shadow: 0 0 2px 2px $second-color;
    }
  }
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.select__body {
  background-color: $bg-color-light;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 102%;
}
.select__item {
  cursor: pointer;
  @include text-base();
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 20px;

  @media (max-width: $breakpoint-sm-max) {
    padding-left: 9px;
  }
}

.select__item:hover {
  background-color: $bg-color / 1.2;
}

.select__img {
  vertical-align: bottom;
  margin-left: 7px;
}

.trust {
  display: none;
  background-color: $bg-color-light;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  justify-content: center;

  @media (max-width: $breakpoint-sm-max) {
    display: flex;
  }

  &__text {
    @include text-base();
    color: $text-color;
  }

  &__icon {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// === / COMMON ===
